<table class="form-table">
    <tbody>
        <tr>
            <th>Two Factor Authentication</th>
            <td>
                <button type="button" id="simple_2fa_reset" class="button">Reset 2FA Secret</button>
                <p class="description">{{ user }} will be logged out, and the Two Factor Authentication secret will be reset.</p>
                <p class="description">{{ user }} will be asked to re-enable 2FA on next login.</p>
            </td>
        </tr>
    </tbody>
</table>

<script>
    (function($) {
        $('#simple_2fa_reset').on('click', function(e) {
            e.preventDefault();

            var button = $(this);

            wp.ajax.post('simple_2fa_reset', {
                nonce: $('#_wpnonce').val(),
                user_id: $('#user_id').val()
            }).done(function(response) {
                button.prop('disabled', true);
                button.siblings('.notice').remove();
                button.before('<div class="notice notice-success inline"><p>' + response.message + '</p></div>');
                wp.heartbeat.connectNow();
            }).fail(function(response) {
                button.siblings('.notice').remove();
                button.before('<div class="notice notice-error inline"><p>' + response.message + '</p></div>');
            });
        });
    })(jQuery);
</script>
